div {
  width: 80vw;
  padding: 15%;

  h1 {
    font-size: 60px;
  }
}


.loading {
  transition-duration: 300ms;
  transition-timing-function: ease;
  opacity: 0;
}

section:hover .loading {
  transition-duration: 500ms;
  opacity: 1;
}


.loading:first-child {
  transition-delay: 0s;
}

.loading:nth-child(2) {
  transition-delay: 300ms;

}

.loading:nth-child(3) {
  transition-delay: 600ms;
}


