.argentina-banner {
    height: 18vh;
  }

  .stripe {
    height: 33.33%;
    width: 100%;
    text-align: center;
  }

  .blue-stripe {
    background-color: #75AADB;
  }

  .white-stripe {
    background-color: #FFFFFF;
  }

  