<section>
        <h2>Proyectos Personales</h2>
        <div class="div2">
            <div class="div3">
                <img src="https://img.youtube.com/vi/9wjk8bJeQUA/hqdefault.jpg" alt="">
                <h2 style="text-decoration: underline;">Stack Tecnologico:</h2>
                <p style="color: #e9ffff;">Angular && Spring boot</p>
                <a class="btn btn-primary" target="_blank" href="https://by-impresiones-3d.netlify.app/">B.Y impresiones 3D</a>
            </div>
        </div>
</section>